.bg-primary {
  background-color: var(--background-primary);
}
.bg-secondary {
  background-color: var(--background-secondary);
}
.bg-tertiary {
  background-color: var(--background-tertiary);
}
.bg-warning {
  background-color: var(--background-warning);
}
.bg-error {
  background-color: var(--background-error);
}
.bg-success {
  background-color: var(--background-success);
}
.bg-info {
  background-color: var(--background-info);
}
.bg-inverse {
  background-color: var(--text-inverse);
}
.btn-bg-on {
  background-color: var(--button-on-bg);
}
.btn-bg-off {
  background-color: var(--button-off-bg);
}
.btn-bg-tertiary {
  background-color: var(--button-tertiary-bg);
}
.btn-bg-warning {
  background-color: var(--button-warning-bg);
}
.btn-bg-error {
  background-color: var(--button-error-bg);
}
.btn-bg-success {
  background-color: var(--button-success-bg);
}
.btn-bg-info {
  background-color: var(--button-info-bg);
}

