@regular: normal;
@medium: 500;
@semi-bold: 600;
@bold: bold;
@extra-bold: 800;

.header1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.4px;
}

.header2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.4px;
}

.header3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
}

.header4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.4px;
}

.header5 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.4px;
}
.nav-all-caps-selected {
  font-weight: @extra-bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.nav-all-caps {
  font-weight: @semi-bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.nav-all-caps-bold {
  font-weight: @extra-bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.body-l-emphasized {
  font-weight: @medium;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.4px;
}

.body-m-bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.4px;
}

.body-m-emphasized {
  font-weight: @medium;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.4px;
}

.body-m-regular {
  font-weight: @regular;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.4px;
}

.body-s-bold {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.4px;
}

.body-s-emphasized {
  font-weight: @medium;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.4px;
}

.body-s-regular {
  font-weight: @regular;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.4px;
}
