//horizontal padding
.px-0-important {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.px-xs, .px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-s, .px-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.px-m, .px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-l, .px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-xl, .px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-36 {
  padding-left: 36px;
  padding-right: 36px;
}

.px-120 {
  padding-left: 120px;
  padding-right: 120px;
}

.pl-2 {
  padding-left: 2px;
}

.pl-xs, .pl-4 {
  padding-left: 4px;
}

.pl-m, .pl-8 {
  padding-left: 8px;
}

.pl-l, .pl-12 {
  padding-left: 12px;
}

.pl-xl, .pl-16 {
  padding-left: 16px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-36 {
  padding-left: 36px;
}

.pl-48 {
  padding-left: 48px;
}

.pr-xs, .pr-4 {
  padding-right: 4px;
}

.pr-6 {
  padding-right: 6px;
}

.pr-m, .pr-8 {
  padding-right: 8px;
}

.pr-l, .pr-12 {
  padding-right: 12px;
}

.pr-xl, .pr-16 {
  padding-right: 16px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-xl-with-scroll-bar {
  padding-right: 16px;
  //padding-right: 12px;
}

//vertical padding

.py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.py-xs, .py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-m, .py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-l, .py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-xl, .py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-xxl, .py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.pt-xs, .pt-4 {
  padding-top: 4px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-s, .pt-6 {
  padding-top: 6px;
}

.pt-m, .pt-8 {
  padding-top: 8px;
}

.pt-l, .pt-12 {
  padding-top: 12px;
}

.pt-xl, .pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-36 {
  padding-top: 36px;
}

.pt-ys, .pb-4 {
  padding-bottom: 4px;
}

.pb-m, .pb-8 {
  padding-bottom: 8px;
}

.pb-l, .pb-12 {
  padding-bottom: 12px;
}

.pb-xl, .pb-16 {
  padding-bottom: 16px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-36 {
  padding-bottom: 36px;
}

.pb-40 {
  padding-bottom: 40px;
}

//horizontal margin
.mx-0-important {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.mx-xs, .mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-s, .mx-6 {
  margin-left: 6px;
  margin-right: 6px;
}

.mx-m, .mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-l, .mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.mx-xl, .mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.mx-36 {
  margin-left: 36px;
  margin-right: 36px;
}

.mx-120 {
  margin-left: 120px;
  margin-right: 120px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-2 {
  margin-left: 2px;
}

.ml-xs, .ml-4 {
  margin-left: 4px;
}

.ml-m, .ml-8 {
  margin-left: 8px;
}

.ml-l, .ml-12 {
  margin-left: 12px;
}

.ml-xl, .ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-36 {
  margin-left: 36px;
}

.ml-48 {
  margin-left: 48px;
}

.ml-auto {
  margin-left: auto;
}

.mr-xs, .mr-4 {
  margin-right: 4px;
}

.mr-6 {
  margin-right: 6px;
}

.mr-m, .mr-8 {
  margin-right: 8px;
}

.mr-l, .mr-12 {
  margin-right: 12px;
}

.mr-xl, .mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-auto {
  margin-right: auto;
}

//vertical margin

.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.my-xs, .my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.my-m, .my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-l, .my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-xl, .my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-xxl, .my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-xs, .mt-4 {
  margin-top: 4px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-s, .mt-6 {
  margin-top: 6px;
}

.mt-m, .mt-8 {
  margin-top: 8px;
}

.mt-l, .mt-12 {
  margin-top: 12px;
}

.mt-xl, .mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-auto {
  margin-top: auto;
}

.mb-xs, .mb-4 {
  margin-bottom: 4px;
}

.mb-m, .mb-8 {
  margin-bottom: 8px;
}

.mb-l, .mb-12 {
  margin-bottom: 12px;
}

.mb-xl, .mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-auto {
  margin-bottom: auto;
}
