.text-text-primary{
    color: var(--text-primary);
}
.text-text-secoundary{
    color: var(--text-secondary);
}
.text-text-tertiary{
    color: var(--text-tertiary);
}
.text-text-warning{
    color: var(--text-warning);
}
.text-text-error{
    color: var(--text-error);
}
.text-text-success{
    color: var(--text-success);
}
.text-text-info{
    color: var(--text-info);
}