@import 'index.less';
@import 'styles/text.less';
@import 'styles/back-ground.less';
@import 'styles/width.less';
@import 'styles/height.less';
@import 'styles/font-size.less';
@import 'styles/border.less';
@import 'styles/size.less';

html, body {
  font-family: 'TikTok Sans', sans-serif;
  color: var(--text-primary);
  background-color: var(--background-primary);
  margin: 0;
  padding: 0;
}

// layout
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-1 {
  flex: 1;
}
.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}
.hidden-overflow {
  overflow: hidden;
}
.full-max-height {
  max-height: 100%;
}
.full-max-width {
  max-width: 100%;
}