@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
:root {
  --text-primary: #1e1f2f;
  --text-secondary: #3c3c4380;
  --text-tertiary: #3c3c432e;
  --text-warning: #ff9500;
  --text-error: #d32f2f;
  --text-success: #1b5e20;
  --text-info: #007aff;
  --text-inverse: #ffffff;
  // background
  --background-primary:#ffffff;
  --background-secondary:#bcd9c9c3;
  --background-tertiary:#edeafe;
  --background-tertiary-2:#f9f9f9;
  --background-warning: #fef4e8;
  --background-error:#fce5f0;
  --background-success:#e7f6f1;
  --background-info: #e5f0ff;
  // border
  --border-primary:#1e1f2f;
  --border-secondary:#bdbdbd;
  --border-tertiary:#e0e0e0;
  // button
  --button-on-bg:#31513f;
  --button-off-bg:#bcd9c9c3;
  --button-tertiary-bg:#edeafe;
  --button-warning-bg:#fef4e8;
  --button-error-bg:#fce5f0;
  --button-success-bg:#e7f6f1;
  --button-info-bg:#e5f0ff;
  // charts
  --chart-up-bg:#388e3c;
  --chart-down-bg:#d32f2f;
  // Tab
  --tab-on-bg:#31513f;
  --tab-off-bg:#74748014;
  --tab-hover-bg:#bcd9c9c3;
  --tab-hover-text:#31513f;
  --tab-on-text:#ffffff;
  --tab-off-text:#3c3c4380;
  --tab-active-bg:#e5f0ff;
  --tab-active-text:#1e1f2f;
}
[data-theme='dark']{
  --text-primary: #ffffff;
  --text-secondary: #bdbdbd;
  --text-tertiary: #bdbdbd80;
  --text-warning: #ff9500;
  --text-error: #ff6f6f;
  --text-success: #66bb6a;
  --text-info: #42a5f5;
  --text-inverse: #1e1f2f;
  // background
  --background-primary:#121212;
  --background-secondary:#1e1f2f;
  --background-tertiary:#121212;
  --background-warning: #3c3c432e;
  --background-error:#3c3c432e;
  --background-success:#121212;
  --background-info: #121212;
  // border
  --border-primary:#ffffff;
  --border-secondary:#bdbdbd;
  --border-tertiary:#424242;
  // button
  --button-on-bg:#31513f;
  --button-off-bg:#74748014;
  --button-tertiary-bg:#121212;
  --button-warning-bg:#3c3c432e;
  --button-error-bg:#3c3c432e;
  --button-success-bg:#121212;
  --button-info-bg:#121212;
}
